<div class="container top-section d-flex justify-content-between">
    <div class="section-name">
        <h1>Ecommerce Acceories & Fashion item </h1>
        <p>About 9,620 results (0.62 seconds)</p>
    </div>

    <div class="top-filters d-flex justify-content-between">
        <div class="per-page form">
            <label for="perPage">Per Page</label>
            <input class="number-input" type="number" id="perPage" [formControl]="perPage">
        </div>

        <div class="sort-by form">
            <form [formGroup]="form">
                <label for="sortBy">SortBy</label>
                <select name="sortBy" id="sortBy" formControlName="selecta">
                    <option [ngValue]="null">Select</option>
                    <option *ngFor="let select of sortSelects" [ngValue]="select.id">
                        {{select.option}}
                    </option>
                </select>
            </form>
        </div>

        <div class="search form">
            <label for="perPage">Search</label>
            <input type="text" id="search" [formControl]="search">
        </div>
    </div>
</div>