<div class="container-fluid lilac header-back">
    <div class="container-xl">
        <div class="caption-header">
            <h2>404 Not Found</h2>
            <ul>
                <li><a href="">Home .</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">. 404 Not Found</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-xl">
        <main class="not-found">
            <img src="../../assets/Not-Found.png" class="img-fluid" alt="Responsive image">
            <button class="pink-btn"><a href="#">Back To Home</a></button>
        </main>
    </div>
</div>

