.not-found {
    text-align: center;
    margin-top: 30px;
}

.pink-btn {
    display: block;
    margin-left: calc(50% - 97px);
    margin-bottom: 124px;    
}








main {
    padding-bottom: 100px ;  /* delete later */
}