<div class="container-fluid lilac header-back">
    <div class="container-xl">
        <app-caption-header title="404 Not Found"></app-caption-header>
    </div>
</div>

<div class="container-fluid">
    <div class="container-xl">
        <main class="not-found">
            <img src="../../assets/graphics/NotFound.svg" class="img-fluid" alt="Responsive image">
            <button class="pink-btn"><a routerLink="">Back To Home</a></button>
            <div class="wrapper-img">
                <img class="img-fluid" src="../../../assets/graphics/Sponsor.svg" alt="sponsors">
            </div> 
        </main>
    </div>
</div>


