.featured-products {
    text-align: center;
}

.featured-products h2 {
    color: #1A0B5B;
}

.carousel-inner {
    padding-bottom: 20px;
}

.pink-line {
    background: #FEBAD7;
    border-radius: 10px;
    width: 16px;
    height: 4px;
    border: 1px;
}

.carousel-indicators .active {
    background: #FB2E86;
    width: 24px;
}

.fp-box-wrapper{
    padding: 48px 0 53px 50px;
}