<app-caption-header title="FAQ"></app-caption-header>
<div class="container-fluid">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-6">
                <div class="answers">
                    <h4>General Information</h4>
                    <p class="quest">
                        Eu dictumst cum at sed euismood condimentum?
                    </p>
                    <p class="ans">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed <br>
                        tristique mollis vitae, consequat gravida sagittis.
                    </p>
                    <p class="quest">
                        Magna bibendum est fermentum eros.
                    </p>
                    <p class="ans">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed <br>
                        tristique mollis vitae, consequat gravida sagittis.
                    </p>
                    <p class="quest">
                        Odio muskana hak eris conseekin sceleton?
                    </p>
                    <p class="ans">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed <br>
                        tristique mollis vitae, consequat gravida sagittis.
                    </p>
                    <p class="quest">
                        Elit id blandit sabara boi velit gua mara?
                    </p>                    
                    <p class="ans">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt sed <br>
                        tristique mollis vitae, consequat gravida sagittis.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ask-form">
                    <h5>Ask a Question</h5>
                    <form class="question-form">
                        <input formControlName="name" type="text" id="name" placeholder="Your Name*" required> <br>
                        <input formControlName="subject" name="subject" type="text" id="subject" placeholder="Subject*" required> <br>
                        <textarea formControlName="message" name="message" id="message" placeholder="Type Your Message*" required></textarea> <br>
                        
                        <button class="pink-btn" type="submit">Send Mail</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper-img center-header">
                <img class="img-fluid" src="../../../assets/graphics/Sponsor.svg" alt="sponsors">
            </div>
        </div>
    </div>
</div> 