<div class="container-fluid back-img">
    <div class="container-xl center-header">
        <div class="wrapper-text">
            <h2 class="main-page-header">Get Leatest Update By Subscribe <br>0ur Newslater</h2>
            <button class="pink-btn"><a href="#">Shop Now</a></button>
        </div>        
    </div>
</div>
<div class="container-fluid">
    <div class="container-xl center-header">
        <div class="wrapper-img">
            <img src="../../../assets/graphics/Sponsor.svg" alt="sponsors">
        </div>        
    </div>
</div>

