ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 


ul li{
    display: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 4px;
    text-align: center;
    padding: 5px 2px 0 0;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li:hover{
    background-color: #e1e2f5 ;
}

ul li:hover a{
    color: #2F1AC4;
}