<div class="container-fluid">
    <div class="container-xl">
        <div class="row unique-feature">
            <div class="col-lg-6">
                <div class="image-container" data-aos="fade-right" data-aos-id="super-duper"  data-aos-duration="1500"> 
                    <img src="../../../assets/img/Group-sofa.png" alt="sofa">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-container" data-aos="fade-left" data-aos-id="super-duper"  data-aos-duration="1500">
                    <h2>
                        Unique Features Of leatest & <br>
                        Trending Poducts
                    </h2>
                    <div>
                    <ul>
                        <li><span></span>All frames constructed with hardwood solids and laminates</li>
                        <li><span></span>Reinforced with double wood dowels, glue, screw - nails corner <br>blocks and machine nails</li>
                        <li><span></span>Arms, backs and seats are structurally reinforced</li>
                    </ul>
                </div>
                    <div class="wrapper d-flex">
                            <button class="pink-btn"><a routerLink="shopping-cart">Add To Cart</a></button>
                        <div class="sofa-info mt-2">
                            <p>B&B Italian Sofa <br><span>$32.00</span></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
