<div class="section">
    <div class="container">
        <div class="unique-chair">
    
        </div>
    
        <div class="description">
            <h1>Unique Features Of leatest & <br>Trending Poducts</h1>
            <ul>
                <li class="li_1">All frames constructed with hardwood solids and laminates</li>
                <li class="li_2">Reinforced with double wood dowels, glue, screw - nails corner blocks and machine nails</li>
                <li class="li_3">Arms, backs and seats are structurally reinforced</li>
            </ul>
            <div class="actions">
                <div class="btn">
                    <button>Add to Cart</button>
                </div>

                <div class="additional-info">
                    <p>
                        <span class="title">B&B Italian Sofa </span>
                        <span class="price">$32.00</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

