<app-caption-header title="About Us"></app-caption-header>
<div class="container-fluid">
    <div class="container-xl">
        <div class="row history">
            <div class="col-md-6">
                <div class="image-wrapper">
                    <div class="blue-div"></div>
                    <img src="../../assets/img/About-us.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-wrapper">
                    <h3>Know About Our Ecomerce<br>
                        Business, History
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices<br>
                        mattis aliquam, malesuada diam est. Malesuada sem tristique amet erat vitae<br>
                        eget dolor lobortis. Accumsan faucibus vitae lobortis quis bibendum quam.
                    </p>
                    <button class="pink-btn" type="button"><a routerLink="contact-us">Contact Us</a></button>
                </div>                
            </div>
        </div>
    </div>
    <div class="container-xl center-header">
        <h2 class="main-page-header">Our Features</h2>
        <app-feature-box></app-feature-box>
    </div>
</div>