<div class="section">
    <div class="container d-flex flex-row justify-content-between" >
        <div class="section-one">
            <h1 class="logo">Hekto</h1>
            <input class="email" type="email" id="email" name="email" placeholder="Enter Email Address">
            <button>Sign Up</button>
            <h4>
                <span class="contact-info">Contact Info</span>
                <span class="address-info">17 Princess Road, London, Greater London NW1 8JR, UK</span>
            </h4>
        </div>

        <div class="lists d-flex flex-row">
            <div>
                <h1>Categories</h1>
                <ul>
                    <li>Laptops & Computers<li>
                    <li>Cameras & Photography</li>
                    <li>Smart Phones & Tablets</li>
                    <li>Video Games & Consoles</li>
                    <li>Waterproof Headphones</li>
                </ul>
            </div>
            <div>
                <h1>Customer Care</h1>
                <ul>
                    <li>Laptops & Computers<li>
                    <li>Cameras & Photography</li>
                    <li>Smart Phones & Tablets</li>
                    <li>Video Games & Consoles</li>
                    <li>Waterproof Headphones</li>
                </ul>
            </div>
            <div>
                <h1>Pages</h1>
                <ul>
                    <li>Laptops & Computers<li>
                    <li>Cameras & Photography</li>
                    <li>Smart Phones & Tablets</li>
                    <li>Video Games & Consoles</li>
                    <li>Waterproof Headphones</li>
                </ul>
            </div>
        </div>
    
    </div>
</div>