<div class="search">
    <h5>Search</h5>
    <input type="search" placeholder="Search For Posts">
    <span class="icon-Loupe"></span>
</div>
<div class="categories">
    <h5>Categories</h5>
    <pre>
        Women    Women 
        Women    Women
        Women    Women
    </pre>
</div>
<div class="recent">
    <h5>Recent Post</h5>
    <app-post-preview-box></app-post-preview-box>
</div>
<div class="sale">
    <h5>Sale Product</h5>
    <app-post-preview-box></app-post-preview-box>
</div>
<div class="offer">
    <h5>Offer product</h5>
    <div class="off-prod-box">
        <img src="" alt="">
        <h6>Duis lectus est.</h6>
        <span>$12.00 - $15.00</span>
    </div>
</div>
<div class="follow">
    <h5>Follow</h5>
    <div class="icon-cont">
        <img src="../../../assets/icons/Facebook-light.svg" alt="">
        <img src="../../../assets/icons/Instagram-light.svg" alt="">
        <img src="../../../assets/icons/Twitter-light.svg" alt="">
    </div>
</div>
<div class="tags">
    <h5>Tags</h5>
    <ul>
        <li>General</li>
        <li>Atsanil</li>
        <li>Insas.</li>
        <li>Bibsaas</li>
        <li>Nulla.</li>
    </ul>
</div>