<div class="col-xl-3 col-md-6">
    <div class="featured-product-box">
        <div class="image-container">
            <img src="../../../assets/img/feat-prod-01.png" alt="">
        </div>
        <div class="info-container">
            <h6>Cantilever chair</h6>
            <div class="color-lines">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Code - Y523201</p>
            <p>$42.00</p>
        </div>
    </div>
</div>