<div class="col">
    <div class="featured-product-box" *ngFor="let item of prodInfo">
        <div class="image-container">
            <div class="icon-wrapper">
                <app-product-options></app-product-options>
            </div>            
            <img src="{{item.src}}" alt="chair" class="chair-img">
            <button class="pink-btn"><a href="">View Details</a></button>
        </div>
        <div class="info-container">
            <h6>{{item.name}}</h6>
            <div class="color-lines">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Code - {{item.code}}</p>
            <p>{{item.price}}</p>
        </div>
    </div>
</div>