<div class="container-fluid lilac">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active pink-square" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class="pink-square"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="pink-square"></button>
    </div>
    <div class="carousel-inner container-xl">
      <div class="carousel-item active">
        <div class="row">           
          <div class="main-slider-part1 col-lg-6">
              <div class="img">
                    <img src="../../assets/img/Lamp.png" alt="Lamp" class="lamp">
                    <div class="pink-dot"></div>
              </div>
              <div class="main-slider-text">
                  <p>Best Furniture For Your Castle....</p>
                  <h1>New Furniture Collection<br>
                      Trends in 2020</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing<br>
                      in phasellus non in justo.</p>
                  <button class="pink-btn"><a routerLink="products">Shop Now</a></button>
              </div>                                      
          </div> 
          <div class="main-slider-part2 col-lg-6">
              <div class="main-image">
                  <!-- <div class="pale-pink-circle"></div>
                  <div class="pale-pink-circle"></div>
                  <img src="../../assets/img/Angel-Dining-Chair-8.png" class="img-fluid" alt="">
                  <img src="../../assets/graphics/50off.svg" alt=""> -->
                  <img class="img-fluid" src="../../../assets/img/Sofa-promo-01.png" alt="">
              </div>
          </div> 
      </div>
      </div>
      <div class="carousel-item">
        <div class="row">           
          <div class="main-slider-part1 col-lg-6">
              <div class="img">
                   <img src="../../assets/img/Lamp.png" alt="Lamp" class="lamp">
                  <div class="pink-dot"></div>
              </div>
              <div class="main-slider-text">
                  <p>Best Furniture For Your Castle....</p>
                  <h1>New Furniture Collection<br>
                      Trends in 2021</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing<br>
                      in phasellus non in justo.</p>
                  <button class="pink-btn"><a routerLink="products">Shop Now</a></button>
              </div>                                      
          </div>  
          <div class="main-slider-part2 col-lg-6">
              <div class="main-image">
                  <!-- <div class="pale-pink-circle"></div>
                  <div class="pale-pink-circle"></div>
                  <img src="../../assets/img/Anita-Dining-Chair-7.png" class="img-fluid" alt="">
                  <img src="../../assets/graphics/50off.svg" alt=""> -->
                  <img class="img-fluid" src="../../../assets/img/Sofa-promo-02.png" alt="">
              </div>
          </div> 
      </div>
      </div>
      <div class="carousel-item">
        <div class="row">           
          <div class="main-slider-part1 col-lg-6">
              <div class="img">
                  <img src="../../assets/img/Lamp.png" alt="Lamp" class="lamp">
                  <div class="pink-dot"></div>
              </div>
              <div class="main-slider-text">
                  <p>Best Furniture For Your Castle....</p>
                  <h1>New Furniture Collection<br>
                      Trends in 2022</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing<br>
                      in phasellus non in justo.</p>
                  <button class="pink-btn"><a routerLink="products">Shop Now</a></button>
              </div>                                      
          </div>
          <div class="main-slider-part2 col-lg-6">
              <div class="main-image">
                  <!-- <div class="pale-pink-circle"></div>
                  <div class="pale-pink-circle"></div>
                  <img src="../../assets/img/Katharina-Bar-Chair.png" class="img-fluid" alt="">
                  <img src="../../assets/graphics/50off.svg" alt=""> -->
                  <img class="img-fluid" src="../../../assets/img/Sofa-promo-03.png" alt="">
              </div>
          </div> 
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
