.card-img-div{
    padding: 32px 32px;
    background-color: #F7F7F7;
}

.card-body{
    margin-top: 16px;
    margin-bottom: 8px;
}

.card-title{
    font-size: 16px;
    line-height: 19px;
    color: #151875;
}

.card-price{
    font-size: 14px;
    line-height: 16px;
    color: #151875;
}

.card-old-price{
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #FB2448;
}

.card{
    border-style: none;
    position: relative;
}

.actions{
    position: absolute;
    top: 250px;
    left: 24px;    
}

.card-price-div{
    gap: 8px;
}

.product-cards{
    gap: 40px;
}

.card{

    transition: 3s linear;
}

.indi-icon{
    display: none;
    transition: 3s linear;
}

.card:hover .indi-icon{
    display: inline;  
    transition: 3s linear;

}

.cart-icon-img{
    background: #EEEFFB;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}