  <app-product-card [productInfo]="productCards"></app-product-card>




<!-- <div class="product-cards d-flex flex-row flex-wrap justify-content-center">
    <div class="card" style="width: 22.5rem;" *ngFor="let card of productCards">
        <div class="actions d-flex flex-column align-items-center">
            <div class="cart-icon icon">
                <img class="cart-icon-img indi-icon" src="../../../assets/img/cart-icon.svg" alt="cart-icon">
            </div>
            <div class="heart-icon icon">
                <img class="indi-icon" src="../../../assets/img/heart-icon.svg" alt="cart-icon">
            </div>
            <div class="zoom-icon icon">
                <img class="indi-icon" src="../../../assets/img/zoom-icon.svg" alt="cart-icon">
            </div>
        </div>
        
        <div class="card-img-div">
            <img class="card-img-top" src="{{card.src}}" alt="Card image cap">
        </div>
        
        <div class="card-body d-flex justify-content-between">
          <div class="card-title-div">
              <h5 class="card-title">{{card.name}}</h5>
          </div>
          
          <div class="card-price-div d-flex flex-row align-items-center">
              <h3 class="card-price">{{card.price}}</h3>
              <h3 class="card-old-price">{{card.oldPrice}}</h3>
          </div>
        </div>
    </div>
</div> -->