<app-caption-header title="Contact Us"></app-caption-header>
<div class="container-fluid">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-down-right" data-aos-duration="1000">
                <h6 class="heading">Information About Us</h6>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis quis bibendum quam.
                </p>
                <div class="color-circles">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down-left" data-aos-duration="1000">
                <h6 class="heading">Contact Way</h6>
                <div class="info-wrapper d-flex">
                    <div class="left-side">
                        <div>
                            <span class="circle"></span>
                            <p class="text">
                                Tel: 877-67-88-99 <br> E-Mail: shop@store.com
                            </p>
                        </div>
                        <div>
                            <span class="circle"></span>
                            <p class="text">
                                20 Margaret st, London <br> Great britain, 3NM98-LK
                            </p>
                        </div>                       
                    </div>
                    <div class="right-side">
                        <div>
                            <span class="circle"></span>
                            <p class="text">
                                Support Forum <br> For over 24hr
                            </p>
                        </div>
                        <div>
                            <span class="circle"></span>
                            <p class="text">
                                Free standard shipping <br> on all orders.
                            </p>
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up-right" data-aos-duration="1000">
                <h6 class="heading">Get In Touch</h6>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque ultrices  tristique amet erat vitae eget dolor los vitae lobortis quis bibendum quam.
                </p>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="contact-form">
                    <input formControlName="name" type="text" id="name" placeholder="Your Name*" required>
                    <input formControlName="email" type="email" id="email" placeholder="Your E-mail"> <br>
                    <input formControlName="subject" name="subject" type="text" id="subject" placeholder="Subject*" required> <br>
                    <textarea formControlName="message" name="message" id="message" placeholder="Type Your Message*" required></textarea> <br>
                    <input formControlName="university" id="student" type="text" placeholder="Type your university name*" [ngClass]="{'display' : flag}"> <br>
                    
                    <button class="pink-btn" type="submit" [disabled]="myForm.invalid">Send Mail</button>
                    <button class="pink-btn discount" type="button" (click)="studentControl()">Discount for studnets</button>
                </form>
            </div>
            <div class="col-lg-6" data-aos="fade-up-left" data-aos-duration="1000">
                <div class="img-wrapper">
                    <img class="img-fluid" src="../../assets/graphics/ContactUs.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>