<div class="container-fluid">
    <div class="container-xl center-header">
        <h2 class="main-page-header">Discount Item</h2>
        <div class="products-menu">
            <ul>
                <li><a>Wood Chair</a><span></span></li>
                <li><a>Plastic Chair</a><span></span></li>
                <li><a>Featured</a><span></span></li>
            </ul>
        </div>
        <div class="row all-discount">
            <div class="col-lg-6">
                <div class="text-cont">
                    <h2>20% Discount Of All Products</h2>
                    <h4>Eams Sofa Compact</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu eget feugiat habitasse nec, bibendum condimentum.</p>
                    <div class="benefits d-flex">
                        <div class="left-side">
                            <p><span class="icon-OK"></span>Material expose like metals</p>
                            <p><span class="icon-OK"></span>Simple neutral colours.</p>
                        </div>
                        <div class="right-side">
                            <p><span class="icon-OK"></span>Clear lines and geomatric figures</p>
                            <p><span class="icon-OK"></span>Material expose like metals</p>
                        </div>
                    </div>
                    <button class="pink-btn"><a routerLink="products">Shop Now</a></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-cont">
                    <img src="../../../assets/img/Group-tortuga.png" alt="tortuga">
                </div>
            </div>
        </div>
    </div>
</div>