<div class="container-fluid lilac">
    <div class="container-xl">
        <div class="row">           
            <div class="main-slider-part1 col-lg-6">
                <div class="img">
                     <img src="../../assets/img/Lamp.png" alt="Lamp" class="lamp">
                    <div class="pink-dot"></div>
                </div>
                <div class="main-slider-text">
                    <p>Best Furniture For Your Castle....</p>
                    <h1>New Furniture Collection<br>
                        Trends in 2020</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing<br>
                        in phasellus non in justo.</p>
                    <button class="pink-btn"><a href="#">Shop Now</a></button>
                </div>                                      
            </div>
            <div class="slider-indicators">
                <div class="pink-square"></div>
                <div class="pink-square"></div>
                <div class="pink-square"></div>
            </div>  
            <div class="main-slider-part2 col-lg-6">
                <div class="main-image">
                    <div class="pale-pink-circle"></div>
                    <div class="pale-pink-circle"></div>
                    <img src="../../assets/img/Pink-Velvet-Sofa.png" alt="">
                    <img src="../../assets/graphics/50off.png" alt="">
                </div>
            </div> 
        </div>
    </div>
</div>

