<div class="container">
    <h1>Trending Products</h1>

    <div class="d-flex flex-row flex-wrap justify-content-center product-cards">
        <ng-container *ngFor="let item of items">
            <app-card [card]="item"></app-card>
        </ng-container>
    </div>

    <div class="d-flex flex-row justify-content-center">

        <div class="section-one">
            <h2>23% off in all products</h2>
            <a href="#">Shop Now</a>
            <div class="image"></div>
        </div>

        <div class="section-two">
            <h2>23% off in all products</h2>
            <a href="#">Shop Now</a>
            <div class="image-two"></div>
        </div>

        <div class="chairs">
            <div class="chair-one d-flex flex-row">
                <div class="chair-bg">
                    <div class="chair-img"></div> 
                </div>
                <div class="chair-txt">
                    <h3>
                        <span class="title">Executive Seat chair</span>
                        <span class="price">$32.00</span>
                    </h3>
                </div>
            </div>

            <div class="chair-two d-flex flex-row">
                <div class="chair-bg">
                    <div class="chair-img-two"></div> 
                </div>
                <div class="chair-txt">
                    <h3>
                        <span class="title">Executive Seat chair</span>
                        <span class="price">$32.00</span>
                    </h3>
                </div>
            </div>

            <div class="chair-three d-flex flex-row">
                <div class="chair-bg">
                    <div class="chair-img-three"></div> 
                </div>
                <div class="chair-txt">
                    <h3>
                        <span class="title">Executive Seat chair</span>
                        <span class="price">$32.00</span>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>