<app-caption-header title="Shop Products"></app-caption-header>
<div class="container-fluid">
    <div class="container-xl">
        <div class="row options">            
            <div class="col-md-5 left-side">
                <h6>Ecommerce Acceories & Fashion item</h6>
                <span>About 9,620 results (0.62 seconds)</span>
            </div>
            <div class="col-md-7 right-side">
                <form action="">
                    <label for="perPage">Per Page:</label>
                    <input type="number" id="perPage" name="perPage" min="0" max="9" step="0">
                    <label for="sort">Sort By:</label>
                    <select id="sort" name="sort" size="1">
                        <option value="best">Best Match</option>
                        <option value="top">Top Products</option>
                        <option value="discount">Discount</option>
                        <option value="brand">Brand</option>
                        <option value="cheap">Cheapest Products</option>
                    </select>
                    <span>View:</span>
                    <a class="icon-View01"></a>
                    <a class="icon-View02"></a>
                    <input type="text" id="blank" [(ngModel)]="favoriteColor">
                </form>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="product-brand">
                    <h6>Product Brand</h6>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="discount-offer">
                    <h6>Discount Offer</h6>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="rating-item">
                    <h6>Rating Item</h6>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="categories">
                    <h6>Categories</h6>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="price-filter">
                    <h6>Price Filter</h6>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <input type="search">
                </div>
                <div class="filter-by-color">
                    <h6>Filter By Color</h6>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>
</div>