<div class="container-fluid">
    <div class="container-xl center-header">
        <h2 class="main-page-header">Latest Products</h2>
        <div class="products-menu">
            <ul>
                <li><a href="">New Arrival</a></li>
                <li><a href="">Best Seller</a></li>
                <li><a href="">Featured</a></li>
                <li><a href="">Special Offer</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-xl">
        <app-late-prod-box></app-late-prod-box>
    </div>
</div>
