.header-back {    
    height: 286px;
    box-sizing: border-box;
}

.caption-header {
    padding: 96px 0 ;
}

.caption-header h2 {
    font-size: calc(30px + .5vw);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #101750;
}

.caption-header ul {
    margin: 5px 0 0;
    padding: 0;
    list-style-type: none;
}

.caption-header li {
    display: inline-block;
}

.caption-header a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    margin-right: 5px;
    color: black;
}

.caption-header a:hover {
    color: #FB2E86;
}

li:last-of-type a {
    color: #FB2E86;
}