<div class="container-fluid violet">
    <div class="container-xl">
        <div class="row"> 
            <div class="col-lg-6 header-info">
                <img src="../../assets/icons/Mail.svg" alt="">
                <span>mhhasanul@gmail.com</span>
                <img src="../../assets/icons/Phone.svg" alt="">
                <span>(12345)67890</span>
            </div>
            <div class="col-lg-6">
                <ul class="user-settings pull-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          English
                          <img src="../../assets/icons/Down-vector.svg" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item">Española</a></li>
                          <li><a class="dropdown-item">Français</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item">Deutsch</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          USD
                          <img src="../../assets/icons/Down-vector.svg" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item">Euro</a></li>
                          <li><a class="dropdown-item">Pound sterling</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item">Something else here</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Login                            
                            <img src="../../assets/icons/User.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a>Wishlist                            
                            <img src="../../assets/icons/Heart.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../assets/icons/Shopping-cart.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
