.navbar {
    background: white !important; 
    height: 98px;
}

#navbarSupportedContent {
    background: white !important; 
    z-index: 10;
    margin-top: 10px;
    padding: 20px;
    border-radius: 0.25rem;
}

.dropdown-menu {
    margin-top: 10px;
    padding: 10px;
    border-radius: 0;
    border: 2px solid #E7E6EF;
    border-top: none;
}

.navbar-brand {
    margin-right: 88px;
    font-family: 'Josefin Sans', sans-serif;
    color: #0D0E43;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}

/* .dropdown-toggle::after {
    margin: 0;
    content: "";
    border: none;
    vertical-align: 0;
} */

.dropdown-toggle {
    position: relative;
}

.dropdown-toggle span {
    position: inherit;
    bottom: 4px;
}

.navbar-nav a {
    color: #0D0E43;
    margin-right: 19px;
    font-family: 'Lato', sans-serif; 
}

.navbar-nav a:hover {
    color: #FB2E86;
}

.me-2 {
    margin-right: 0 !important;
    border-radius: 0;
    border: 2px solid #E7E6EF;
}

.btn {
    border-radius: 0;
    background: #FB2E86;
    border-color: #FB2E86;
    color: white;
    box-sizing: border-box;
    height: 40px;
    width: 50px;;
}