<div class="container-fluid">
  <div class="container-xl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Hekto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- ========================================================================== -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" [ngClass]="{'dropdown': item.subMenu}" *ngFor="let item of menu"
            [routerLink]="item.path">
              <a class="nav-link" [ngClass]="{'dropdown-toggle': item.subMenu}" 
              routerLinkActive="active_link" [routerLinkActiveOptions]="{exact: true}">{{item.title | titlecase}}
                <span *ngIf="item.subMenu" class="icon-Arrow-down"></span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="item.subMenu">
                <li *ngFor="let subitem of item.subMenu">
                  <a class="dropdown-item" [routerLink]="subitem.path">{{subitem.title | titlecase}}</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- ========================================================================== -->
          
          <form class="d-flex">
            <input class="form-control me-2" type="search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              <img src="../../assets/icons/Loupe.svg" alt="">
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>