.container-fluid {
    padding: 0 !important;
}

.navbar {
    background: white !important; 
    height: 78px;

}

#navbarSupportedContent {
    background: white !important; 
    z-index: 10;
    margin-top: 10px;
    padding: 20px;
    border-radius: 0.25rem;
}

.dropdown-menu {
    margin-top: 10px;
    padding: 10px;
    border-radius: 0;
    border: 2px solid #E7E6EF;
    border-top: none;
}

/* .dropdown-toggle::after {
    margin: 0;
    content: "";
    border: none;
    vertical-align: 0;
} */

.dropdown-toggle {
    position: relative;
}

.dropdown-toggle span {
    position: inherit;
}

.dropdown-toggle span:before {
    font-size: 10px;
}

.navbar-nav a {
    color: #0D0E43;
    margin-right: 19px;
    font-family: 'Lato', sans-serif; 
}

.navbar-nav a:hover {
    color: #FB2E86;
}

#navbarSupportedContent {
    margin-top: 0 !important;
    padding: 10px !important;
}

.me-2 {
    margin-right: 0 !important;
    border-radius: 0;
    border: 2px solid #E7E6EF;
}

.btn, .btn-outline-success {
    box-sizing: border-box;
    border-radius: 0;
    background: #FB2E86;
    border-color: #FB2E86;
    color: white;
    box-sizing: border-box;
    height: 40px;
    width: 50px;
    padding: 0 15px;
}

.btn:focus, .form-control:focus {
    box-shadow: none;
}

.btn-outline-success img {
    margin-top: -2.5px;
    margin-left: -2px;
}

#navbarSupportedContent .nav-item:hover .dropdown-menu{
    display: block;
    margin-top: -7px;
} 

#navbarSupportedContent .nav-item .dropdown-item:hover .dropdown-menu {
    display: block;
}
   /* Todo fix dropdown  */