<div class="prod-item-list d-flex" *ngFor="let item of prodItems | slice: 0 : viewProductsNumber | sort: sortByOption">
    <div class="img-cont">
        <img src="{{item.src}}" alt="">
    </div>
    <div class="info-cont">
        <div class="header d-flex">
            <h6>{{item.name}}</h6>
            <div class="color-dots">
                <span></span>
                <span></span>
                <span></span>
            </div>            
        </div>
        <div class="d-flex sum-n-rate">
            <p>${{item.newPrice}} <span>${{item.oldPrice}}</span></p>
            <div class="star-container">
                <img src="../../assets/icons/Star-golden.svg">
                <img src="../../assets/icons/Star-golden.svg">
                <img src="../../assets/icons/Star-golden.svg">
                <img src="../../assets/icons/Star-golden.svg">
                <img src="../../assets/icons/Star-silver.svg">
            </div>
        </div>
        <div class="description">
            {{item.desc}}
        </div>
        <div class="option">
            <ul class="d-flex">
                <li><span class="icon-Shopping-cart"></span></li>
                <li><span class="icon-Heart"></span></li>
                <li><span class="icon-Lopue-blue"></span></li>
            </ul>
        </div>
    </div>
</div>
