<div class="container-fluid wide-footer-part">
    <div class="container-xl">
        <div class="row">
            <div class="col-xl-5 col-md-8">
                <a class="navbar-brand" routerLink="">Hekto</a>
                <div class="form-wrapper">
                    <form class="d-flex ">
                        <input type="email" placeholder="Enter Email Address">
                        <button class="pink-btn"><a href="#">Sign Up</a></button>
                    </form>
                </div>
                <div class="address">
                    <p>Contact Info</p>
                    <p>17 Princess Road, London, Greater London NW1 8JR, UK</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <h5 class="list-header">Categories</h5>
                <ul>
                    <li><a>Laptops & Computers</a></li>
                    <li><a>Cameras & Photography</a></li>
                    <li><a>Smart Phones & Tablets</a></li>
                    <li><a>Video Games & Consoles</a></li>
                    <li><a>Waterproof Headphones</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-md-6">
                <h5 class="list-header">Customer Care</h5>
                <ul>
                    <li><a>My Account</a></li>
                    <li><a>Discount</a></li>
                    <li><a>Returns</a></li>
                    <li><a>Orders History</a></li>
                    <li><a>Order Tracking</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-md-6">
                <h5 class="list-header">Customer Care</h5>
                <ul>
                    <li><a>Blog</a></li>
                    <li><a>Browse the Shop</a></li>
                    <li><a>Category</a></li>
                    <li><a>Pre-Built Pages</a></li>
                    <li><a>Visual Composer Elements</a></li>
                    <li><a>WooCommerce Pages</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid narrow-footer-part">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-6">
                <p class="copyright">©Webecy - All Rights Reserved</p>
            </div>
            <div class="col-lg-6">
                <div class="link-icons pull-right">
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank">
                            <img src="../../../assets/icons/Facebook.svg" alt="facebook">
                        </a></li>
                        <li><a href="https://www.instagram.com/" target="_blank">
                            <img src="../../../assets/icons//Instagram.svg" alt="instagram">
                        </a></li>
                        <li><a href="https://twitter.com/?lang=en" target="_blank">
                            <img src="../../../assets/icons/Twitter.svg" alt="twitter">
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>